# .gitignore

# Virtual environment
venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc

# IDE / Editor settings
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd

# Logs
*.log